h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
body{
    background-color: rgba(250, 104, 78, 0.5);
}
#ievade {
    text-align: center;
}
#izvade {
    text-align: center;
    font-size:x-large;
}
#bilde {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}